---
import Layout from '~/layouts/PageLayout.astro';
import { fetchPosts } from '~/utils/posts';
import Headline from '~/components/blog/Headline.astro';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await fetchPosts();

  return posts.map(post => ({
    params: { slug: post.title.replace(/[^a-z0-9-]/gi, "-").toLowerCase() },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout metadata={{ title: post.title }}>
  <section class="max-w-4xl mx-auto px-6 py-12">
    <Headline>{post.title}</Headline>
    <article class="prose dark:prose-invert">
      <div set:html={post.content}></div>
    </article>
  </section>
</Layout>
