---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import { fetchPosts } from '~/utils/posts';

const allPosts = await fetchPosts();
---

<Layout metadata={{ title: 'Blog' }}>
  <section class="max-w-4xl mx-auto px-6 py-12">
    <Headline>
      <span slot="default">Blog</span>
      <span slot="subtitle">Novidades e artigos recentes</span>
    </Headline>

    <ul class="space-y-4">
      {allPosts.map(post => {
        const slug = post.title.replace(/[^a-z0-9-]/gi, "-").toLowerCase();
        return (
          <li class="border-b pb-4">
            <a href={`/blog/${slug}`} class="text-blue-500 text-xl font-semibold hover:underline">
              {post.title}
            </a>
            <p class="text-gray-600">{post.excerpt}</p>
          </li>
        );
      })}
    </ul>
  </section>
</Layout>
