---
import { Icon } from 'astro-icon/components';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300 intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between py-6 md:py-8 gap-4">
      <!-- Social Links -->
      <ul class="flex space-x-4">
        <li>
          <a href="https://ivanmoria.github.io/MOSAIC/mosaic.html#projects" target="_blank">
            <Icon name="tabler:world" class="w-5 h-5 text-gray-800 dark:text-white" />
          </a>
        </li>
      </ul>

      <!-- Copyright -->
      <div class="text-sm text-gray-600 dark:text-muted">
        © 2024 MOSAIC. Todos os direitos reservados.
      </div>

      <!-- Logo -->
      <div class="flex items-center gap-3">
        <img src="/images/logos_footer.png" alt="" class="h-10 w-auto dark:brightness-90">
      </div>

    </div>
  </div>
</footer>
