---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'MOSAIC',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  actions={[
    {
      variant: 'primary',
      text: 'Projetos em andamento',
      href: '#blog',
      target: '_blank',
    },
    { text: 'Sobre', href: 'about' },
  ]}
  image={{ src: '~/assets/images/mosaic_v2.png', alt: 'Mosaic' }}
>
  <span slot="title">MOSAIC</span>

  <span slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">
        Music-Oriented Systems and Artificial Intelligence for Creativity (MOSAIC) é um grupo de pesquisa interdisciplinar do Departamento de Ciência da Computação da Universidade Federal de Minas Gerais (DCC/UFMG) e da Escola de Música da UFMG.
      </span>
    </span>
  </span>
</Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    id = "blog"
    title="Conheça alguns dos nossos projetos"
    information={`Projetos em progresso.
                `}
  />

</Layout>